h1{
    text-align: center;
    color: rgb(48, 48, 132);
    
}

.hidden-icon > span {
    visibility: hidden;
}
/* Muestra el icono cuando el cursor pase por encima del li */
.hidden-icon:hover > span {
    visibility: visible;
}